/* General container styling */
.content-box {
    -fx-background-image: url("file:src/resources/SpaceBackground.jpeg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}

.task-list-box {
    -fx-background-color: white;       /* Background color */
    -fx-background-radius: 10;         /* Radius for rounded corners */   /* Border color */
}

/* Header title styling */
.header-title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

/* Section title styling */
.section-title {
    -fx-font-size: 18;
    -fx-text-fill: #666666;
}

/* Button styling with hover effect */
.action-button {
    -fx-background-color: linear-gradient(to right, #6A0DAD, #9B4F96);
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-border-color: #E4B1F0;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.5, 0, 3);
}

.action-button:hover {
    -fx-background-color: linear-gradient(to right, #9B4F96, #BC8BCC);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 3);
    -fx-border-color: #E4B1F0;
    -fx-opacity: 0.85;
}

.action-button:pressed {
    -fx-background-color: #8A2BE2;
    -fx-background-radius: 5;
    -fx-border-color: #E4B1F0
}

.list-view {
    -fx-background-color: transparent;
    -fx-border-radius: 10; /* Same as the container */
    -fx-background-radius: 10; /* Same as the container */
}

/* Apply styling for each ListView cell */
.list-view .cell {
    -fx-background-color: transparent;
    -fx-border-radius: 10; /* Ensure rounded corners for individual cells */
    -fx-background-radius: 10; /* Ensure rounded corners for individual cells */
}

.list-view .cell:hover {
    -fx-background-color: #8E70A7; /* Light gray background on hover */
}